@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #538b89, #54856c93);
    text-align: center;

}

h1 {
        font-family: "Bebas Neue", sans-serif;
        color: #fffefe;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;      
        text-align: center;
}
/*  links */
a { 
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #fd9797;
    text-decoration: none;
}
a:active {
    color: #fd9797;
    text-decoration: none;
}
/*  fim dos links */