@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px; 
}

 /* INICIO DO HEADER */

header {
    background-color: black;
    width: 100%;
    height: 300px;
    align-content: center;
}

header h1{
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 5em;
    text-align: center;
}

header p {
    font-family: 'Sriracha', sans-serif; 
    color: white;
    text-align: center;
}

header a {
    color:white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header a:active {
    color: white;
}

/* FIM DO HEADER */

/* INICIO DO MAIN */



.section {
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.274)
}

.branco {
    background-color: white;
    font-family: 'Sriracha', cursive, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3.5vw;
    margin: 0 0 0 10px;
}

article > div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.441);
    max-width: 700px;
    border-radius: 10px;
    top: 100px;
    margin: 0 0 0 10px;
    padding: 10px;
}

article > div > p {
        font-family: 'Sriracha', cursive, sans-serif;
        color: white;
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        font-size: 3.5vw;

}


#flores {
    position: relative;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    height: 65vh;
    padding-bottom: 300px;
    padding-top: 40vh;
    background-position: right center;
    background-attachment: fixed;
   
}

#livro {
    position: relative;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    height: 65vh;
    padding-bottom: 300px;
    padding-top: 40vh;
    background-position: right center;
    background-attachment: fixed;
   
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1vh;
    font-size: 2vw;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



/* FIM DO MAIN*/